.image-dialog--header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.image-dialog--close-btn,
.image-dialog--close-btn:focus {
  all: unset;
  cursor: pointer;
}

.image-dialog--img {
  width: 100%;
  height: auto;
}
